:root {
  // Light theme
  --white: #fff;
  --orange: #fb9335;
  // Dark theme
  --dark-grey: #212121;
  --bright-grey: #292929;
  --violet: #bb86fc;
}

/* Light Theme */
html[data-theme="light"] {
  --text-color: var(--orange);
  --background-color: var(--white);
  --background-color-content: var(--orange);
}

/* DARK THEME */
html[data-theme="dark"] {
  --text-color: var(--violet);
  --background-color: var(--dark-grey);
  --background-color-content: var(--bright-grey);
}

body {
  //background-color: yellow;
  margin: 0;
  padding: 0;
  //transition: color 1s, background-color 0.5s, transform 1s linear;
}
