$dark-grey: #212121;
$bright-grey: #292929;
$white: #ffffff;
$orange: #fb9335;
$violet: #bb86fc;

// :root {
//   //Varibles
// }
body {
  margin: 0;
  padding: 0;
}
/* Light Theme */
html[data-theme="light"] {
  --text-color-header: #{$orange};
  --text-color-navigation: #{$orange};
  --text-color-hover: #{$dark-grey};
  --background-color: #{$white};
  --background-color-content: #{$orange};
  --button-background-color: #{$orange};
}

/* DARK THEME */
html[data-theme="dark"] {
  --text-color-header: #{$violet};
  --text-color-navigation: #{$violet};
  --text-color-hover: #{$white};
  --background-color: #{$dark-grey};
  --background-color-content: #{$bright-grey};
  --button-background-color: #{$violet};
}
