$dark-grey: #212121;
$bright-grey: #292929;
$white: #ffffff;
$orange: #fb9335;
$violet: #bb86fc;
$blue: #2c608f;

body {
  margin: 0;
  padding: 0;
}
/* Light Theme */
html[data-theme="light"] {
  --text-color-header: #{$blue};
  --text-color-navigation: #{$blue};
  --text-color-hover: #{$dark-grey};
  --background-color: #{$white};
  --background-color-content: #{$blue};
  --button-background-color: #{$blue};
  --text-color-content: #{$white};
  --slider-background-color: #{$blue};
}

/* DARK THEME */
html[data-theme="dark"] {
  --text-color-header: #{$violet};
  --text-color-navigation: #{$violet};
  --text-color-hover: #{$white};
  --background-color: #{$dark-grey};
  --background-color-content: #{$bright-grey};
  --button-background-color: #{$violet};
  --text-color-content: #{$white};
}
